POSTGRES_USER=lina
POSTGRES_PASSWORD=123
POSTGRES_DB=lina
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432
AUTH0_DOMAIN=dev-dukjmtq5aktjbhvr.us.auth0.com
AUTH0_CLIENT_ID=M68uGXXXDg2Qa3mODeNeJA4msK9P8W1V
AUTH0_CLIENT_SECRET=zlAgbnS5y8m4cOm8aLw6mZG5Wb6GraWCTnroiXh7enZrp8hP-dh3m6o8-T95VUT9
AUTH0_AUDIENCE=https://surveillance-backend
KAFKA_BOOTSTRAP_SERVERS=localhost:9092